# ----------------------------------------
# 1. Python Environment (Incluye subdirectorios)
# ----------------------------------------
venv/
.venv/
*/venv/
*/.venv/

# Ignorar archivos de caché de Python
__pycache__/
*/__pycache__/
*.pyc
*.pyd
*.pyo

# Archivos instalados por pip dentro del entorno (evita dist-info molestos)
**/*.dist-info/
**/site-packages/

# ----------------------------------------
# 2. Archivos de Configuración Sensibles
# ----------------------------------------
.env
.env.*
AUTH-SERVICE/.env
IFN-CORE/.env

# ----------------------------------------
# 3. Credenciales, Claves y Archivos de Servicio
# ----------------------------------------
.serviceAccountKey.json
*serviceAccountKey*.json
*credentials*.json
firebase-*.json
*.pem
*.p12

# Archivos de configuración locales o de desarrollo
*.local

# ----------------------------------------
# 4. Archivos de Editor / IDE
# ----------------------------------------
.vscode/
.idea/

# ----------------------------------------
# 5. Archivos de Docker / Build
# ----------------------------------------
target/
build/
